<p><strong>Los datos del nuevo usuario son los siguientes:</strong></p>
<p><strong>Nombre:</strong>{{data.nombre}}</p><p><strong>Dirección:</strong>{{data.direccion}}</p>
<p><strong>Email:</strong>{{data.email}}</p><p><strong>Teléfono:</strong>{{data.telefono}}</p>
<p><strong>Edad:</strong>{{data.edad}}</p>